manifest {
    /* nextflow.config for genome-QC */

    /* Homepage of project */
    homePage = ''
    
    /* Author of COMETG pipeline */
    author = 'Reed Woyda'

    /* Description of project */
    description = 'The purpose of genome-QC.nf is to use NGS data QC and trimming as an example for a simple Nextflow pipeline.'

    /* Main pipeline script */
    mainScript = 'genom-QC.nf'
    
    /* Version */
    // v0.0.1
}

params {

    /* Input Reads Directory */
        reads = "./raw_reads/*_R{1,2}*.f*.gz"
        reads_fmt = "*_R{1,2}*.f*.gz"
        input_reads = ""
        
    /* Alternative input via CSV */
        input_csv = ""

    /* Default output directory */
        outdir = './genome-QC-output'

    /* Help menu and version */
        help = 0
        h = 0
        v = 0
        version = 0

    /* Number of threads */
        threads = 5

    /* FastP trimming parameters */
        trim_quality = "20"

    /* Containers and Conda Environments */
        /* Singularity Container Location */
        genome_qc_container = "./containers/singularity/genome-qc.sif"

        /* Conda Environment recipe files */
        genome_qc_env = "./containers/conda/genome-qc-env.yml"

        /* Conda Pre-built Environment Locations */
        genome_qc_prebuilt_env = "./containers/conda/genome-qc-env"

    /* Queue Size */
        queue_size = "5"

}

singularity {
    enabled = true
    autoMounts = true
}

conda {
    enabled = true
}

process
{

    withName: FASTQC {
        /* Select either Singularity (container) or Conda by uncommenting the desired container/env */
        container= "${params.genome_qc_container}"
        //conda = "${params.genome_qc_prebuilt_env}"

        cpus = "${params.threads}"
        maxForks = 1

        publishDir = [
            path: "${params.outdir}/fastQC_v0.12.1",
            mode: 'copy',
        ]
    }

    withName: MULTIQC {
        /* Select either Singularity (container) or Conda by uncommenting the desired container/env */
        container = "${params.genome_qc_container}"
        //conda = "${params.genome_qc_prebuilt_env}"

        cpus = '1'
        maxForks = 1

        publishDir = [
            path: "${params.outdir}/multiQC_v1.14",
            mode: 'copy',
        ]
    }

    withName: FASTP {
        /* Select either Singularity (container) or Conda by uncommenting the desired container/env */
        container = "${params.genome_qc_container}"
        //conda = "${params.genome_qc_prebuilt_env}"

        cpus = "${params.threads}"
        maxForks = 1

        publishDir = [
            path: "${params.outdir}/fastp_v0.23.2",
            mode: 'copy',
        ]
    }
}

