process {

    withName: FASTQC {
        container = "${params.genome_qc_container}"

        cpus = "${params.threads}"

        publishDir = [
            path: "${params.outdir}/fastQC_v0.12.1",
            mode: 'copy',
        ]

        maxForks = 1
    }

    withName: MULTIQC {
        container = "${params.genome_qc_container}"

        cpus = '1'

        publishDir = [
            path: "${params.outdir}/multiQC_v1.14",
            mode: 'copy',
        ]

        maxForks = 1
    }

    withName: FASTP {
        container = "${params.genome_qc_container}"

        cpus = "${params.threads}"

        publishDir = [
            path: "${params.outdir}/fastp_v0.23.2",
            mode: 'copy',
        ]

        maxForks = 1
    }

}