process {
    withName: FASTQC {
        conda = "${params.genome_qc_prebuilt_env}"

        cpus = "${params.threads}"
        maxForks = 1

        publishDir = [
            path: "${params.outdir}/fastQC_v0.12.1",
            mode: 'copy',
        ]
    }

    withName: MULTIQC {
        conda = "${params.genome_qc_prebuilt_env}"

        cpus = '1'
        maxForks = 1

        publishDir = [
            path: "${params.outdir}/multiQC_v1.14",
            mode: 'copy',
        ]
    }

    withName: FASTP {
        conda = "${params.genome_qc_prebuilt_env}"

        cpus = "${params.threads}"
        maxForks = 1

        publishDir = [
            path: "${params.outdir}/fastp_v0.23.2",
            mode: 'copy',
        ]
    }


}